:root {
  --ng-offblack: rgb(51, 51, 51);
  --ng-offwhite: rgb(249, 249, 249);
  --ng-red: rgb(209, 35, 47);
  --ng-yellow: rgb(240, 189, 51);
  --ng-txt: rgb(51, 51, 51);
  --ng-bg: rgb(255, 255, 255);
  --font-primary: "kepler-std-condensed-display", serif;
  --font-secondary: "Barlow", sans-serif;
  --font-tertiary: "Playfair Display", serif;
  --font-quaternary: "Georgia", serif;
  --font-gala: "nautica", sans-serif;
  --ng-header-bg: rgb(240, 189, 51);
  --ng-header-txt: rgb(255, 255, 255);
  --ng-header-txt-a: rgb(249, 249, 249);
  --ng-header-title-txt: rgb(171, 171, 171);
  --ng-nav-bg: rgb(40, 75, 103);
  --ng-nav-item-txt: #d6a110;
  --ng-nav-item-bg: rgba(57, 107, 147, 0.4);
  --ng-nav-item-hover-bg: rgba(57, 107, 147, 0.9);
  --ng-nav-item-hover-txt: #f0bd33;
  --ng-section-bg: #f9f9f9;
  --ng-package-border: rgb(236, 233, 233);
  --cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99);
  --menuItems: 7;
}

@font-face {
  font-family: "Barlow";
  src: url("../typography/Barlow-SemiBold.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
}
body * {
  overflow: default;
}
body .business_directory .container {
  display: none;
}
body #top .grid_1200 {
  overflow: default;
}
body #top > section:nth-child(4) > div {
  width: 100%;
  padding: 0;
  max-width: 2400px;
}

@media (min-width: 576px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 2800px;
  }
}
@media (min-width: 992px) {
  .container,
  .container-sm {
    max-width: 2800px;
  }
}
@media (min-width: 1200px) {
  .container,
  .container-sm {
    max-width: 2800px;
  }
}
@media (min-width: 1400px) {
  .container,
  .container-sm {
    max-width: 2800px;
  }
}
.nelagala-event {

}
.nelagala-event {
  font-family: var(--font-secondary);
  color: var(--ng-txt);
  background: var(--ng-bg);
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
  flex-wrap: wrap;
  position: relative;
  top: 116px;
  margin: 0 auto -204px auto;
}
.nelagala-event h1,
.nelagala-event h2,
.nelagala-event h3,
.nelagala-event h4,
.nelagala-event h5,
.nelagala-event h6 {
  font-family: var(--font-secondary);
  text-transform: capitalize;
  color: var(--ng-red);
}
.nelagala-event h1 {
  font-size: 3rem;
}
.nelagala-event h2 {
  font-size: 2.5rem;
}
.nelagala-event h3 {
  font-size: 2rem;
}
.nelagala-event h4 {
  font-size: 1.5rem;
}
.nelagala-event h5 {
  font-size: 1rem;
}
.nelagala-event h6 {
  font-size: 0.5rem;
}
.nelagala-event a {
  text-decoration: none;
  color: var(--ng-red);
  font-weight: 800;
  font-size: 1em;
  padding: 3px;
  transition: 0.2s ease-in;
}
.nelagala-event a:hover {
  text-decoration: none;
  color: rgb(213, 78, 86);
}
.nelagala-event button {
  border: none;
  background: inherit;
}
.nelagala-event header {
  width: 100%;
  padding: 0px;
  margin-top: 0;
  background: var(--ng-header-bg);
  text-align: center;
  color: var(--ng-header-txt);
  position: relative;
  top: 0;
  overflow: hidden;
}
.nelagala-event header .header-img {
  position: absolute;
  top: -302px;
  right: -236px;
  width: 765px;
  transform: rotate(-13deg);
  opacity: 0.4;
}
.nelagala-event header .header-img-main {
  height: 189px;
}
.nelagala-event header .header-img-main img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 75%;
     object-position: center 75%;
}
.nelagala-event header .col {
  min-width: 50%;
  padding: 20px 10px 30px;
  font-family: var(--font-quaternary);
}
.nelagala-event header .divider::before {
  content: "";
  position: absolute;
  right: 0;
  /* For a left border; use 'right: 0' for a right border */
  top: 20%;
  /* Adjusts the gap at the top */
  bottom: 15%;
  /* Adjusts the gap at the bottom */
  width: 4px;
  /* Border width */
  background-color: var(--ng-red);
  /* Border color */
}
.nelagala-event header h1.title {
  display: inline;
  text-align: center;
  font-family: var(--font-primary);
  font-size: 2em;
  color: var(--ng-header-txt);
  line-height: 0.9em;
  margin: -10px 0;
  text-transform: uppercase;
}
.nelagala-event header h1:not(:has(span)) {
  font-size: 0.8em;
}
.nelagala-event header h2 {
  font-family: var(--font-primary);
  color: var(--ng-header-txt);
  text-transform: uppercase;
  font-style: italic;
  font-size: 2.6em;
  font-weight: bold;
  letter-spacing: 0.2em;
  margin: 6px auto 0 auto;
  padding: 0;
  position: relative;
}
.nelagala-event header h3 {
  font-size: 0.8em;
  margin-top: 0;
  margin-bottom: 20px;
  font-family: var(--font-tertiary);
  color: var(--ng-header-txt);
  font-weight: 400;
  text-transform: unset;
}
.nelagala-event header h3 sup {
  font-size: 0.9em;
  top: -0.2em;
}
.nelagala-event header .pre-title,
.nelagala-event header .post-title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--ng-red);
  font-family: var(--font-gala);
  text-align: center;
  font-size: 2.2em;
  font-weight: 800;
  margin: 0;
  line-height: 58px;
}
.nelagala-event header .pre-title .yr,
.nelagala-event header .post-title .yr {
  font-size: 1.7em;
}
.nelagala-event header .pre-title .yr sup,
.nelagala-event header .post-title .yr sup {
  font-size: 0.7em;
  margin-left: 0.3em;
}
.nelagala-event header .post-title {
  font-size: 5em;
  position: relative;
  top: 0em;
  display: block;
}
.nelagala-event header .col-2 {
  text-align: start;
  padding-left: 20px;
}
.nelagala-event header .col-2 .col-2-title {
  font-family: var(--font-secondary);
  color: var(--ng-header-txt);
  text-transform: uppercase;
  font-size: 1.6em;
  font-weight: 500;
  margin: 0;
  line-height: 1.2em;
}
.nelagala-event header .col-2 .text {
  font-family: var(--font-tertiary);
  color: var(--ng-header-txt);
  font-weight: 400;
  font-size: 21px;
  margin: 0;
}
.nelagala-event header .header-footer-text {
  font-size: 24px;
  margin: 10px 0;
  font-family: var(--font-tertiary);
  font-weight: 500;
}
.nelagala-event header .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 960px;
  margin: 0 auto -15px auto;
  position: relative;
}
.nelagala-event header .column {
  flex: 1;
  padding: 10px;
}
.nelagala-event header .column h3 {
  font-family: var(--font-primary);
  font-size: 2em;
  font-style: italic;
}
.nelagala-event header .column h3 a {
  font-weight: 800;
  padding-right: 20px;
  border-right: 1px solid var(--ng-header-txt);
  margin-right: 20px;
}
.nelagala-event header a {
  text-decoration: none;
  color: var(--ng-header-txt);
  font-weight: 500;
  font-size: 1em;
  padding: 3px;
  border-bottom: 1 px solid var(--ng-header-bg);
}
.nelagala-event header a:hover {
  text-decoration: none;
  color: var(--ng-red);
  font-weight: 500;
  font-size: 1em;
  padding: 3px;
  border-bottom: 1px solid var(--ng-header-txt);
}
.nelagala-event header p {
  font-size: 2.7em;
}
.nelagala-event main {
  background: var(--ng-section-bg);
  padding-bottom: 54px;
}
.nelagala-event main section {
  margin-bottom: 0;
  width: 80%;
  padding: 20px;
  margin: 0 auto;
}
.nelagala-event main #about-the-event .last {
  margin-bottom: 50px;
}
.nelagala-event main #about-the-event p {
  font-size: 18px;
  margin-bottom: 20px;
}
.nelagala-event main #event-roles h3,
.nelagala-event main #honorees h3 {
  font-family: var(--font-tertiary);
  color: var(--ng-txt);
  font-size: 1em;
  margin-bottom: 0px;
  text-align: start;
}
.nelagala-event .row-container {
  gap: 50px;
  margin-bottom: 50px;
}
.nelagala-event .row-container:hover img {
  mix-blend-mode: inherit;
  transition: all 0.3s ease-in;
}
.nelagala-event .row-container.reverse {
  flex-direction: row-reverse;
}
.nelagala-event main > section {
  margin-bottom: 1em;
  padding: 1em;
}
.nelagala-event main > section.participants {
  width: 80%;
  max-width: 920px;
  margin: 0 auto;
}
.nelagala-event main > section > div {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0px;
}
.nelagala-event main > section > div img {
  width: 45%;
  aspect-ratio: 3/4;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 400px;
  mix-blend-mode: luminosity;
  -o-object-position: center 14%;
     object-position: center 14%;
}
.nelagala-event main > section > .packages {
  align-items: inherit;
}
.nelagala-event main > .video {
  aspect-ratio: 16/9;
  width: 100%;
}
.nelagala-event #sponsorships .package {
  flex: 0 0 47%;
}
.nelagala-event main > section.participants > div > div {
  width: 50%;
  text-align: left;
}
.nelagala-event main > section.participants > div > div > h3 {
  text-transform: none;
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
.nelagala-event main > section.participants > div > div > .full-name {
  font-family: var(--font-secondary);
  font-size: 2em;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  line-height: 1.3cap;
  margin: 0.6em 0 0 0;
}
.nelagala-event main > section.participants > div > div > .bio-summary {
  font-size: 18px;
  color: #707070;
}
.nelagala-event main > section.participants > div > div > .personal-title {
  font-weight: 500;
  font-size: 18px;
  margin: 0.2em 0 0.8em 0;
}
.nelagala-event main > #Biography {
  margin-bottom: 4em;
}
.nelagala-event main > #Biography > div > div {
  width: 58%;
  text-align: right;
}
.nelagala-event main > #Biography > article {
  font-size: 1em;
  margin: 2em auto;
  width: 74%;
  font-weight: normal;
}
.nelagala-event main > #Biography > article p {
  margin: 1em 0;
}
.nelagala-event main > #Biography > article p:first-child {
  font-size: 1.2em;
}
.nelagala-event main > #Biography > article p.participant-website {
  margin: 2em auto;
  padding-top: 0.7em;
  border-top: 0.1em solid var(--ng-package-border);
  font-style: italic;
}
.nelagala-event .packages {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
}
.nelagala-event .packages .package {
  flex: 0 0 31.333%;
  box-sizing: border-box;
  position: relative;
  background-color: white;
  padding: 20px 20px 120px;
  border: 1px solid var(--ng-package-border);
  border-radius: 10px;
  margin-top: 10px;
}
.nelagala-event .packages .package ul {
  list-style-type: none;
  /* Remove default list bullets */
  margin-left: 0;
  padding-left: 0;
}
.nelagala-event .packages .package ul li {
  display: flex;
  align-items: flex-start;
  /* Align items to the start of the flex container */
  gap: 8px;
  /* Adjust gap as needed */
  margin: 16px 0;
  font-size: 16px;
}
.nelagala-event .packages .package ul li::before {
  content: "\f00c";
  /* FontAwesome checkmark unicode */
  font-family: "FontAwesome";
  /* FontAwesome 4.7 font-family */
  color: var(--ng-red);
  /* Additional styles for positioning and size */
  font-size: 16px;
  /* Adjust as needed */
  line-height: 1;
  /* Helps with aligning the icon with the top line of text */
  padding-top: 6px;
}
.nelagala-event .packages .package h2 {
  margin: 10px 0;
  font-weight: bold;
  font-size: 22px;
  text-transform: inherit;
  font-family: var(--font-secondary);
  color: var(--ng-txt);
}
.nelagala-event .packages .package p {
  font-size: 16px;
}
.nelagala-event .packages .package button {
  padding: 10px;
  border: 0.5px solid var(--ng-red);
  border-radius: 5px;
  color: var(--ng-red);
  font-weight: 500;
  text-transform: uppercase;
  position: absolute;
  bottom: 20px;
  width: calc(100% - 40px);
  cursor: pointer;
  transition: 0.3s;
}
.nelagala-event .packages .package button:hover {
  background-color: var(--ng-red);
  color: #fff;
}
.nelagala-event .map-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
.nelagala-event .map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.nelagala-event .sub-text {
  margin-bottom: 50px;
  font-size: 19px;
  color: #707070;
}
@media (min-width: 992px) {
  .nelagala-event main {
    flex-grow: 1;
    width: calc(100% - 250px);
    overflow-y: auto;
  }
}
@media (max-width: 991px) {
  .nelagala-event .container {
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  .nelagala-event {
    font-family: var(--font-secondary);
    color: var(--ng-txt);
    background: var(--ng-bg);
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    width: 100%;
    flex-wrap: wrap;
    margin: 0px auto 0 auto;
  }
  .nelagala-event header {
    border-bottom: 0.25em solid var(--ng-red);
  }
  .nelagala-event header h1 {
    width: 90%;
    font-size: 2em;
    padding: 0;
  }
  .nelagala-event header .row {
    flex-wrap: wrap;
  }
  .nelagala-event header .col {
    min-width: 100%;
  }
  .nelagala-event header .col-2 {
    text-align: center;
  }
  .nelagala-event header .divider::before {
    display: none;
  }
  .nelagala-event header h1 .yr {
    font-size: 1.4em;
  }
  .nelagala-event header h1 .yr sup {
    font-size: 0.8em;
  }
  .nelagala-event header h1 .title {
    display: block;
    font-family: var(--font-primary);
    font-size: 1.3em;
    color: var(--ng-header-title-txt);
    line-height: 0.9em;
    margin: 0px 0;
    text-transform: uppercase;
  }
  .nelagala-event header h1 .gala {
    font-size: 2.5em;
    position: relative;
    top: -0.8em;
    display: block;
  }
  .nelagala-event header h1:not(:has(span)) {
    font-size: 0.8em;
  }
  .nelagala-event .header-img-main {
    height: 179px;
  }
  .nelagala-event .col-2 {
    display: none;
  }
  .nelagala-event .row-container,
  .nelagala-event .packages {
    justify-content: center;
    flex-wrap: wrap;
    flex: 0 0 48%;
  }
  .nelagala-event .package {
    flex: 0 0 48%;
  }
}
@media screen and (max-width: 768px) {
  .nelagala-event main > section.participants > div {
    flex-direction: column;
    align-items: flex-start;
  }
  .nelagala-event main > section.participants > div img {
    width: 100%;
    margin: 0;
  }
  .nelagala-event main > section.participants > div > div {
    width: 100%;
  }
  .nelagala-event .packages .package,
  .nelagala-event #sponsorshipss .packages .package {
    flex: 0 0 100%;
  }
}/*# sourceMappingURL=styles.css.map */