:root {
    --ng-txt: rgb(51, 51, 51);
    --ng-bg: rgb(255, 255, 255);
    --ng-nav-bg: #f0f0f0;
    --ng-section-bg: #f9f9f9;
    --ng-nav-ul-open: rgba(240, 240, 240, 0.9);

    --ng-header-bg: #f0bd33;
    --ng-header-txt: rgb(255, 255, 255);
    --ng-header-txt-a: rgb(249, 249, 249);
    --ng-header-title-txt: rgb(171, 171, 171);

    --ng-red: rgb(209, 35, 46);

    --font-primary: 'kepler-std-condensed-display', serif;
    --font-secondary: 'Barlow', sans-serif;
    --font-tertierary: 'Playfair Display', serif;

    --font-gala: 'nautica', sans-serif;

    --cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99);
    --menuItems: 7;
}

@font-face {
    font-family: 'Barlow';
    src: url('../typography/Barlow-SemiBold.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
}

.nelagala-event {

    button {
        border: none;
        background: inherit;
    }

    & {
        font-family: var(--font-secondary);
        color: var(--ng-txt);
        background: var(--ng-bg);
        display: flex;
        justify-content: space-between;
        min-height: 100vh;
        width: 100%;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: 116px auto 0 auto;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-primary);
        text-transform: uppercase;
        color: var(--ng-txt);
    }

    a {
        text-decoration: none;
        color: var(--ng-red);
        font-weight: 800;
        font-size: 1em;
        padding: 3px;
        transition: 0.2s ease-in;
    }

    a:hover {
        text-decoration: none;
        color: rgb(213 78 86);
    }

    main>section>h2 {
        font-family: var(--font-primary);
        text-transform: uppercase;
        font-size: 3em;
        color: var(--ng-red);
    }

    header {
        width: 100%;
        padding: 0px;
        margin-top: 0;
        background: var(--ng-header-bg);
        text-align: center;
        color: var(--ng-header-txt);
        position: relative;
        overflow: hidden;
    }

    .save-the-date,
    .save-the-date main,
    .save-the-date main header {
        margin: 0;
        width: 100%;
        padding: 0;
        max-width: none;
    }

    .header-img {
        position: absolute;
        top: -142px;
        right: -236px;
        width: 765px;
        transform: rotate(-13deg);
        opacity: 0.6;
    }

    header .col {
        width: 50%;
        padding: 20px 10px 30px;
    }

    header .divider {
        border-right: 6px solid var(--ng-red);
    }

    header h2 {
        font-family: var(--font-primary);
        text-transform: uppercase;
        font-style: italic;
        font-size: 4em;
        text-align: center;
        letter-spacing: 3px;
        margin: 0 0 20px 0;
        padding-top: 50px;
        position: relative;
    }

    header h3 {
        font-size: 21px;
        margin-top: 0;
        margin-bottom: 15px;
        font-family: var(--font-tertiary);
        font-weight: 400;
    }

    header .yr {
        font-size: 2em;
    }

    header h1 .yr sup {
        font-size: .7em;
        margin-left: .3em;
    }

    .pre-title {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--ng-red);
        font-family: var(--font-gala);
        text-align: center;
        font-size: 2.9em;
        font-weight: 800;
        margin: 0;
        line-height: 58px;
    }

    .col-2 {
        text-align: start;
        padding-left: 20px;
    }


    .col-2 .col-2-title {
        text-transform: uppercase;
        font-size: 25px;
        margin: 10px 0;
    }

    .col-2 .text {
        font-family: var(--font-tertiary);
        font-weight: 400;
        font-size: 21px;
        margin: 0;
    }

    .header-img-main {
        height: 189px;
    }

    .header-img-main img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center 75%;
    }

    .header-footer-text {
        font-size: 24px;
        margin: 10px 0;
        font-family: var(--font-tertiary);
        font-weight: 500;
    }

    header h1.title {
        display: inline;
        text-align: center;
        font-family: var(--font-primary);
        font-size: 3em;
        color: var(--ng-header-txt);
        line-height: .9em;
        margin: -10px 0;
        text-transform: uppercase;
    }

    header h1 .gala {
        font-size: 3em;
        position: relative;
        top: -.7em;
        display: block;
    }

    header h1:not(:has(span)) {
        font-size: 0.8em;
    }

    header .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
        position: relative;
    }

    header .column {
        flex: 1;
        padding: 10px;
    }

    header a {
        text-decoration: none;
        color: var(--ng-header-txt);
        font-weight: 500;
        font-size: 1em;
        padding: 3px;
        border-bottom: 1 px solid var(--ng-header-bg);
    }

    header a:hover {
        text-decoration: none;
        color: var(--ng-red);
        font-weight: 500;
        font-size: 1em;
        padding: 3px;
        border-bottom: 1px solid var(--ng-header-txt);
    }

    header .column.left {
        margin-right: 5px;
        border-right: 4px solid var(--ng-red);
    }

    header .column.right {
        margin-left: 5px;
        text-align: left;
    }

    header .column.right p {
        font-size: 2.7em;
    }

    header .column h3 {
        font-family: var(--font-primary);
        font-size: 2em;
        font-style: italic;
    }

    header .column h3 a {
        font-weight: 800;
        padding-right: 20px;
        border-right: 1px solid var(--ng-header-txt);
        margin-right: 20px;
    }


    main section {
        margin-bottom: 0;
        padding: 20px;
        background: var(--ng-section-bg);
    }


    main #about-the-event .video {
        aspect-ratio: 16 / 9;
        width: 100%;
    }

    main #about-the-event .last {
        margin-bottom: 50px;
    }


    main #event-roles h3,
    main #honorees h3 {
        font-family: var(--font-primary);
        font-size: 3em;
        margin-bottom: 10px;
    }

    .row-container {
        gap: 50px;
        margin-bottom: 50px;
    }

    .row-container.reverse {
        flex-direction: row-reverse;
    }

    main>section.participants {
        width: 100%;
    }

    main>section>div {
        display: flex;
        align-items: center;
        justify-content: start;
        margin-bottom: 0px;
    }

    main>section>.packages {
        align-items: inherit;
    }

    main>section.participants>div img {
        width: 50%;
        aspect-ratio: 3 / 4;
        object-fit: cover;
        max-height: 400px;
        mix-blend-mode: luminosity;
        object-position: center 1%;
    }

    main>section.participants>div>div {
        width: 50%;
        text-align: left;
    }

    main>section.participants>div>div>h3 {

        text-transform: none;
        font-family: var(--font-secondary);
        font-weight: 400;
        font-size: 16px;
        margin: 0;
        padding: 0;
    }

    main>section.participants>div>div>.full-name {
        font-family: var(--font-tertiary);
        font-size: 2.4em;
        font-weight: normal;
        text-transform: none;
        margin: 0;
    }

    main>section.participants>div>div>.bio-summary {
        font-size: 18px;
        color: #707070;
    }

    main>section.participants>div>div>.personal-title {
        font-weight: 500;
        font-size: 18px;
    }

    main>#Biography>div>div {
        width: 58%;
        text-align: right;
    }

    main>#Biography>article {
        font-size: 1.2em;
        margin: 2em auto;
        width: 74%;
        font-weight: normal;
    }

    main>#Biography>article p:first-child {
        font-size: 1.6em;
    }


    @media (min-width: 992px) {

        main {
            flex-grow: 1;
            width: calc(100% - 250px);
            overflow-y: auto;
        }
    }

    @media (max-width: 991px) {
        header h1 {
            width: 90%;
            font-size: 2em;
            padding: 0;
        }

        header .row {
            flex-wrap: wrap;
        }

        header .col {
            width: 100%;
        }

        header .col-2 {
            text-align: center;
        }

        header .divider {
            border-right: none;
            border-bottom: 6px solid var(--ng-red);
        }

        header h1 .yr {
            font-size: 1.4em;
        }

        header h1 .yr sup {
            font-size: 0.8em;
        }

        header h1 .title {
            display: block;
            font-family: var(--font-primary);
            font-size: 1.3em;
            color: var(--ng-header-title-txt);
            line-height: .9em;
            margin: 0px 0;
            text-transform: uppercase;
        }

        header h1 .gala {
            font-size: 2.5em;
            position: relative;
            top: -.8em;
            display: block;
        }

        header h1:not(:has(span)) {
            font-size: 0.8em;
        }

        section {
            margin-bottom: 1em;
            padding: 1em;
        }

        .header-img-main {
            height: 179px;
        }

        header .divider {
            border: none;
        }

        .col-2 {
            display: none;
        }

        .row-container,
        .packages {
            justify-content: center;
            flex-wrap: wrap;
            flex: 0 0 48%;
        }

        .package {
            flex: 0 0 48%;
        }
    }

    @media screen and (max-width: 768px) {
        main>section.participants>div {
            flex-direction: column;
            align-items: flex-start;
        }

        main>section.participants>div img {
            width: 100%;
            margin: 0;
        }

        main>section.participants>div>div {
            width: 100%;
        }

        .package {
            flex: 0 0 100%;
        }
    }

    .packages {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        align-items: flex-start;
    }

    .package {
        flex: 0 0 31.333%;
        box-sizing: border-box;
        position: relative;
        background-color: white;
        padding: 20px 20px 70px;
    }

    .package button {
        padding: 10px;
        border: 0.5px solid var(--ng-red);
        border-radius: 5px;
        color: var(--ng-red);
        font-weight: 500;
        text-transform: uppercase;
        position: absolute;
        bottom: 20px;
        width: calc(100% - 40px);
        cursor: pointer;
        transition: 0.3s;
    }

    .package button:hover {
        background-color: var(--ng-red);
        color: #fff;
    }

    .map-container {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        height: 0;
    }

    .map-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .sub-text {
        margin-bottom: 50px;
        font-size: 19px;
        color: #707070;
    }

}