$ng-steel-blue: rgb(40, 75, 103);
$ng-red: rgb(209, 35, 47);
$ng-yellow: rgb(240, 189, 51);

// Navigation Sidebar Colors
// Define the base color as a Sass variabl
$ng-nav-bg: $ng-steel-blue;
// Calculate contrasting color and variations using Sass functions
$ng-nav-item-txt: darken($ng-yellow, 12%);
$ng-nav-item-bg: lighten($ng-nav-bg, 12%);
$ng-nav-item-hover-bg: darken($ng-nav-bg, 16%);
$ng-nav-item-hover-txt: lighten($ng-nav-item-txt, 12%);

// Media Query Breakpoint
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-max: 1400px;

:root {
  --ng-offblack: rgb(51, 51, 51);
  --ng-offwhite: rgb(249, 249, 249);
  --ng-red: #{$ng-red};
  --ng-yellow: #{$ng-yellow};

  --ng-txt: rgb(51, 51, 51);
  --ng-bg: rgb(255, 255, 255);

  --font-primary: 'kepler-std-condensed-display', serif;
  --font-secondary: 'Barlow', sans-serif;
  --font-tertiary: 'Playfair Display', serif;
  --font-quaternary: "Georgia", serif;
  --font-gala: "nautica", sans-serif;

  --ng-header-bg: #{$ng-yellow};
  --ng-header-txt: rgb(255, 255, 255);
  --ng-header-txt-a: rgb(249, 249, 249);
  --ng-header-title-txt: rgb(171, 171, 171);

  // Assign pre-calculated Sass variable values to CSS custom properties
  --ng-nav-bg: #{$ng-nav-bg};
  --ng-nav-item-txt: #{$ng-nav-item-txt};
  --ng-nav-item-bg: #{rgba($ng-nav-item-bg, 0.4)};
  --ng-nav-item-hover-bg: #{rgba($ng-nav-item-bg, 0.9)};
  --ng-nav-item-hover-txt: #{$ng-nav-item-hover-txt};

  --ng-section-bg: #f9f9f9;
  --ng-package-border: rgb(236, 233, 233); // Slightly darker than --ng-section-bg

  --cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99);
  --menuItems: 7;
}

@font-face {
  font-family: 'Barlow';
  src: url('../typography/Barlow-SemiBold.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;

  * {
    overflow: default;
  }

  .business_directory {
    .container {
      display: none;
    }
  }

  #top {
    .grid_1200 {
      overflow: default;
    }

    &>section:nth-child(4) {
      // NOTE: Theme content .sections

      &>div {
        // NOTE: Theme content .container
        width: 100%;
        padding: 0;
        max-width: 2400px;

      }

    }

  }
}

@media (min-width: $breakpoint-sm) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 100%;
  }
}

@media (min-width: $breakpoint-md) {

  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 2800px;
  }
}

@media (min-width: $breakpoint-lg) {

  .container,
  .container-sm {
    max-width: 2800px;
  }
}

@media (min-width: $breakpoint-xl) {

  .container,
  .container-sm {
    max-width: 2800px;
  }
}

@media (min-width: $breakpoint-max) {

  .container,
  .container-sm {
    max-width: 2800px;
  }
}

.nelagala-event {

  & {
    font-family: var(--font-secondary);
    color: var(--ng-txt);
    background: var(--ng-bg);
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    width: 100%;
    flex-wrap: wrap;
    position: relative;
    top: 116px;
    margin: 0 auto -204px auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-secondary);
    text-transform: capitalize;
    color: var(--ng-red);
  }

  $size: 3rem;

  @for $i from 1 through 6 {
    h#{$i} {
      font-size: $size - 0.5rem * ($i - 1);
    }
  }

  a {
    text-decoration: none;
    color: var(--ng-red);
    font-weight: 800;
    font-size: 1em;
    padding: 3px;
    transition: 0.2s ease-in;

    &:hover {
      text-decoration: none;
      color: rgb(213, 78, 86);
    }
  }

  button {
    border: none;
    background: inherit;
  }


  header {
    width: 100%;
    padding: 0px;
    margin-top: 0;
    background: var(--ng-header-bg);
    text-align: center;
    color: var(--ng-header-txt);
    position: relative;
    top: 0;
    overflow: hidden;

    .header-img {
      position: absolute;
      top: -302px;
      right: -236px;
      width: 765px;
      transform: rotate(-13deg);
      opacity: 0.4;
    }

    .header-img-main {
      height: 189px;
    }

    .header-img-main img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center 75%;
    }

    .col {
      min-width: 50%;
      padding: 20px 10px 30px;
      font-family: var(--font-quaternary);
    }

    .divider {
      &::before {
        content: "";
        position: absolute;
        right: 0;
        /* For a left border; use 'right: 0' for a right border */
        top: 20%;
        /* Adjusts the gap at the top */
        bottom: 15%;
        /* Adjusts the gap at the bottom */
        width: 4px;
        /* Border width */
        background-color: var(--ng-red);
        /* Border color */
      }
    }

    h1 {

      &.title {
        display: inline;
        text-align: center;
        font-family: var(--font-primary);
        font-size: 2em;
        color: var(--ng-header-txt);
        line-height: 0.9em;
        margin: -10px 0;
        text-transform: uppercase;
      }

      &:not(:has(span)) {
        font-size: 0.8em;
      }

    }

    h2 {
      font-family: var(--font-primary);
      color: var(--ng-header-txt);
      text-transform: uppercase;
      font-style: italic;
      font-size: 2.6em;
      font-weight: bold;
      letter-spacing: .2em;
      margin: 6px auto 0 auto;
      padding: 0;
      position: relative;
    }

    h3 {
      font-size: .8em;
      margin-top: 0;
      margin-bottom: 20px;
      font-family: var(--font-tertiary);
      color: var(--ng-header-txt);
      font-weight: 400;
      text-transform: unset;

      & sup {
        font-size: .9em;
        top: -.2em;
      }
    }

    .pre-title,
    .post-title {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--ng-red);
      font-family: var(--font-gala);
      text-align: center;
      font-size: 2.2em;
      font-weight: 800;
      margin: 0;
      line-height: 58px;

      .yr {
        font-size: 1.7em;

        sup {
          font-size: 0.7em;
          margin-left: 0.3em;
        }

      }
    }

    .post-title {
      font-size: 5em;
      position: relative;
      top: 0em;
      display: block;
    }

    .col-2 {
      text-align: start;
      padding-left: 20px;

      .col-2-title {
        font-family: var(--font-secondary);
        color: var(--ng-header-txt);
        text-transform: uppercase;
        font-size: 1.6em;
        font-weight: 500;
        margin: 0;
        line-height: 1.2em;

      }

      .text {
        font-family: var(--font-tertiary);
        color: var(--ng-header-txt);
        font-weight: 400;
        font-size: 21px;
        margin: 0;
      }
    }

    .header-footer-text {
      font-size: 24px;
      margin: 10px 0;
      font-family: var(--font-tertiary);
      font-weight: 500;
    }

    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      max-width: 960px;
      margin: 0 auto -15px auto;
      position: relative;
    }

    .column {
      flex: 1;
      padding: 10px;

      h3 {
        font-family: var(--font-primary);
        font-size: 2em;
        font-style: italic;

        a {
          font-weight: 800;
          padding-right: 20px;
          border-right: 1px solid var(--ng-header-txt);
          margin-right: 20px;
        }
      }
    }

    a {
      text-decoration: none;
      color: var(--ng-header-txt);
      font-weight: 500;
      font-size: 1em;
      padding: 3px;
      border-bottom: 1 px solid var(--ng-header-bg);

      &:hover {
        text-decoration: none;
        color: var(--ng-red);
        font-weight: 500;
        font-size: 1em;
        padding: 3px;
        border-bottom: 1px solid var(--ng-header-txt);
      }
    }


    p {
      font-size: 2.7em;
    }
  }


  main {
    background: var(--ng-section-bg);
    padding-bottom: 54px;

    section {
      margin-bottom: 0;
      width: 80%;
      padding: 20px;
      margin: 0 auto;
    }

    #about-the-event {
      .last {
        margin-bottom: 50px;
      }

      p {
        font-size: 18px;
        margin-bottom: 20px;
      }
    }

    #event-roles h3,
    #honorees h3 {
      font-family: var(--font-tertiary);
      color: var(--ng-txt);
      font-size: 1em;
      margin-bottom: 0px;
      text-align: start;
    }

  }



  .row-container {
    gap: 50px;
    margin-bottom: 50px;
  }

  .row-container:hover img {
    mix-blend-mode: inherit;
    transition: all 0.3s ease-in;
  }

  .row-container.reverse {
    flex-direction: row-reverse;
  }

  main {

    &>section {
      margin-bottom: 1em;
      padding: 1em;

      &.participants {
        width: 80%;
        max-width: 920px;
        margin: 0 auto;
      }

      &>div {
        display: flex;
        align-items: flex-start;
        margin-bottom: 0px;

        img {
          width: 45%;
          aspect-ratio: 3/4;
          object-fit: cover;
          max-height: 400px;
          mix-blend-mode: luminosity;
          object-position: center 14%;
        }
      }

      &>.packages {
        align-items: inherit;
      }
    }

    &>.video {
      aspect-ratio: 16/9;
      width: 100%;
    }
  }

  #sponsorships .package {
    flex: 0 0 47%;
  }


  main>section.participants>div>div {
    width: 50%;
    text-align: left;

    &>h3 {
      text-transform: none;
      font-family: var(--font-secondary);
      font-weight: 400;
      font-size: 16px;
      margin: 0;
      padding: 0;
    }
  }


  main>section.participants>div>div>.full-name {
    font-family: var(--font-secondary);
    font-size: 2em;
    font-weight: normal;
    font-style: normal;
    text-transform: none;
    line-height: 1.3cap;
    margin: .6em 0 0 0;
  }

  main>section.participants>div>div>.bio-summary {
    font-size: 18px;
    color: #707070;
  }

  main>section.participants>div>div>.personal-title {
    font-weight: 500;
    font-size: 18px;
    margin: .2em 0 .8em 0;

  }

  main>#Biography>div>div {
    width: 58%;
    text-align: right;
  }

  main>#Biography>article {
    font-size: 1.2em;
    margin: 2em auto;
    width: 74%;
    font-weight: normal;
  }

  main>#Biography>article p:first-child {
    font-size: 1.6em;
  }

  .packages {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;

    .package {
      flex: 0 0 31.333%;
      box-sizing: border-box;
      position: relative;
      background-color: white;
      padding: 20px 20px 120px;
      border: 1px solid var(--ng-package-border);
      border-radius: 10px;
      margin-top: 10px;

      ul {
        list-style-type: none;
        /* Remove default list bullets */
        margin-left: 0;
        padding-left: 0;

        li {
          display: flex;
          align-items: flex-start;
          /* Align items to the start of the flex container */
          gap: 8px;
          /* Adjust gap as needed */
          margin: 16px 0;
          font-size: 16px;

          &::before {
            content: "\f00c";
            /* FontAwesome checkmark unicode */
            font-family: 'FontAwesome';
            /* FontAwesome 4.7 font-family */
            color: var(--ng-red);
            /* Additional styles for positioning and size */
            font-size: 16px;
            /* Adjust as needed */
            line-height: 1;
            /* Helps with aligning the icon with the top line of text */
            padding-top: 6px;
          }
        }
      }

      h2 {
        margin: 10px 0;
        font-weight: bold;
        font-size: 22px;
        text-transform: inherit;
        font-family: var(--font-secondary);
        color: var(--ng-txt);
      }

      p {
        font-size: 16px;
      }

      button {
        padding: 10px;
        border: 0.5px solid var(--ng-red);
        border-radius: 5px;
        color: var(--ng-red);
        font-weight: 500;
        text-transform: uppercase;
        position: absolute;
        bottom: 20px;
        width: calc(100% - 40px);
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          background-color: var(--ng-red);
          color: #fff;
        }
      }

    }
  }

  .map-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
  }

  .map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .sub-text {
    margin-bottom: 50px;
    font-size: 19px;
    color: #707070;
  }

  @media (min-width: $breakpoint-lg) {
    main {
      flex-grow: 1;
      width: calc(100% - 250px);
      overflow-y: auto;
    }
  }

  @media (max-width: 991px) {
    .container {
      max-width: fit-content;
    }

    & {
      font-family: var(--font-secondary);
      color: var(--ng-txt);
      background: var(--ng-bg);
      display: flex;
      justify-content: space-between;
      min-height: 100vh;
      width: 100%;
      flex-wrap: wrap;
      margin: 0px auto 0 auto;
    }

    header {
      border-bottom: .25em solid var(--ng-red);
    }

    header h1 {
      width: 90%;
      font-size: 2em;
      padding: 0;
    }

    header .row {
      flex-wrap: wrap;
    }

    header .col {
      min-width: 100%;
    }

    header .col-2 {
      text-align: center;
    }

    header .divider {
      &::before {
        display: none;
      }
    }

    header h1 .yr {
      font-size: 1.4em;
    }

    header h1 .yr sup {
      font-size: 0.8em;
    }

    header h1 .title {
      display: block;
      font-family: var(--font-primary);
      font-size: 1.3em;
      color: var(--ng-header-title-txt);
      line-height: 0.9em;
      margin: 0px 0;
      text-transform: uppercase;
    }

    header h1 .gala {
      font-size: 2.5em;
      position: relative;
      top: -0.8em;
      display: block;
    }

    header h1:not(:has(span)) {
      font-size: 0.8em;
    }


    .header-img-main {
      height: 179px;
    }

    .col-2 {
      display: none;
    }

    .row-container,
    .packages {
      justify-content: center;
      flex-wrap: wrap;
      flex: 0 0 48%;
    }

    .package {
      flex: 0 0 48%;
    }

  }

  @media screen and (max-width: 768px) {
    main>section.participants>div {
      flex-direction: column;
      align-items: flex-start;
    }

    main>section.participants>div img {
      width: 100%;
      margin: 0;
    }

    main>section.participants>div>div {
      width: 100%;
    }

    .packages .package,
    #sponsorshipss .packages .package {
      flex: 0 0 100%;
    }
  }



  /*# sourceMappingURL=styles.css.map */

}