header {
    width: 100%;
    padding: 0px;
    margin-top: 0;
    background: var(--ng-header-bg);
    text-align: center;
    color: map-get(map-get($color, header), text);
    position: relative;
    top: 0;
    overflow: hidden;
    font-family: map-get($font, primary);

    .header-img {
        position: absolute;
        top: -302px;
        right: -236px;
        width: 765px;
        transform: rotate(-13deg);
        opacity: 0.4;
    }

    .header-img-main {
        height: 189px;
        margin-top: -39px;

        img {
            transition: transform 0.5s ease, opacity 0.5s ease;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center 75%;
        }
    }

    .col {
        min-width: 50%;
        padding: 20px 10px 30px;
    }

    .divider {
        &::before {
            content: "";
            position: absolute;
            right: 0;
            /* For a left border; use 'right: 0' for a right border */
            top: 20%;
            /* Adjusts the gap at the top */
            bottom: 15%;
            /* Adjusts the gap at the bottom */
            width: 4px;
            /* Border width */
            background-color: map-get(map-get($color, header), divider);
            /* Border color */
        }
    }

    h1 {

        &.title {
            display: inline;
            text-align: center;
            font-family: map-get($font, secondary);
            font-size: 1.8em;
            color: map-get(map-get($color, header), text);
            line-height: 0.9em;
            margin: -10px 0;
            text-transform: uppercase;
        }

        &:not(:has(span)) {
            font-size: 0.8em;
        }

    }

    h2 {
        font-family: map-get($header-h2, font);
        font-weight: map-get($header-h2, weight);
        font-size: map-get($header-h2, size);
        font-style: map-get($header-h2, style);
        color: map-get($header-h2, color);
        letter-spacing: map-get($header-h2, letter-spacing);
        text-transform: map-get($header-h2, transform);
        margin: map-get($header-h2, margin);
        padding: map-get($header-h2, padding);
        position: map-get($header-h2, position);
        z-index: map-get($header-h2, z-index);
    }

    h3 {
        font-family: map-get($header-h3, font);
        font-weight: map-get($header-h3, weight);
        font-style: map-get($header-h3, style);
        color: map-get($header-h3, color);
        font-size: map-get($header-h3, size);
        line-height: map-get($header-h3, line-height);
        margin: map-get($header-h3, margin);
        text-transform: map-get($header-h3, transform);

        & sup {
            font-size: 2em;
            top: .2em;
        }
    }

    .pre-title,
    .post-title {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--ng-red);
        font-family: map-get($font, script);
        text-align: center;
        font-size: 2.4em;
        margin: 0;
        line-height: 58px;

        .yr {
            font-size: 1.7em;

            sup {
                font-size: 0.7em;
                margin-left: 0.3em;
            }

        }
    }

    .post-title {
        font-size: 5em;
        position: relative;
        top: 0em;
        display: block;
    }

    .col-2 {
        text-align: start;
        padding-left: 20px;

        .col-2-title {
            font-family: map-get($font, tertiary);
            font-weight: map-get($font-weight, semibold);
            color: map-get(map-get($color, header), text);
            text-transform: uppercase;
            font-size: 1.25em;
            font-style: normal;
            margin: 0;
            line-height: 1.1em;

        }

        .text {
            font-family: map-get($header-h3, font);
            font-weight: map-get($header-h3, weight);
            font-style: map-get($header-h3, style);
            color: map-get($header-h3, color);
            font-size: map-get($header-h3, size);
            line-height: map-get($header-h3, line-height);
            margin: map-get($header-h3, margin);
            text-transform: map-get($header-h3, transform);
        }
    }

    h4 {
        font-family: map-get($header-h4, font);
        font-weight: map-get($header-h4, weight);
        font-style: map-get($header-h4, style);
        color: map-get($header-h4, color);
        font-size: map-get($header-h4, size);
        line-height: map-get($header-h4, line-height);
        margin: map-get($header-h4, margin);
        text-transform: map-get($header-h4, transform);
        background-color: map-get($header-h4, bg);
        padding: map-get($header-h4, padding);
        z-index: 10000 !important;
    }

    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        max-width: 960px;
        margin: -40px auto -15px auto;
        position: relative;
    }

    .row,
    .title-wrap,
    .post-title,
    h4 {
        position: relative;
        /* Required for z-index to work */
        z-index: 10;
        /* Ensures they stay in front of the image */
    }

    .header-img-main {
        z-index: 1;
        /* Ensure the image stays behind the .row and h4 elements */
        position: relative;
        /* Adjust based on your layout needs */
        height: 189px;
        background-size: 110%;
        /* Start zoomed in */
        background-position: center 75%;
        transition: background-size 0.5s ease, background-position 0.5s ease;
        width: 100%;
    }

    .column {
        flex: 1;
        padding: 10px;

        h3 {
            font-family: map-get($font, primary);
            font-size: 2em;
            font-style: italic;

            a {
                font-weight: 800;
                padding-right: 20px;
                border-right: 1px solid var(--ng-header-txt);
                margin-right: 20px;
            }
        }
    }

    a {
        text-decoration: none;
        color: map-get(map-get($color, header), text);
        font-weight: 500;
        font-size: 1em;
        padding: 3px;
        border-bottom: 1 px solid var(--ng-header-bg);

        &:hover {
            text-decoration: none;
            color: var(--ng-red);
            font-weight: 500;
            font-size: 1em;
            padding: 3px;
            border-bottom: 1px solid var(--ng-header-txt);
        }
    }


    p {
        font-size: 2.7em;
    }
}
