@forward '../partials/_variables';
@forward '../partials/_typography';

@use '../partials/_variables' as *;
@use '../partials/_typography' as *;

body {
  overflow: visible;
}

body > div.grid_1200 #top {
  overflow: visible !important;
}

.nelagala-event {
  .nav {
    background-color: var(--ng-nav-bg);
    flex: 0 0 250px;
    width: 25%;
    height: 100svh;
    padding-top: 3.4em;
    top: 120px;

    &.event-navigation {
      position: sticky;
      top: 2.5em;
      z-index: 1000;
      /* Ensure it's above other content */
    }

    .menu {
      display: flex;
      flex-direction: column;
      height: 100%;
      list-style-type: none;
      margin: 2em 0 0 0;
      padding: 0;
      width: 100%;

      .menu-item {
        padding: 0;
        margin: 0;
        width: 100%;

        a {
          font-family: map-get($font, tertiary);
          font-weight: map-get($font-weight, primary);
          text-transform: uppercase;
          padding: 0.75em 0.5em 0.24em;
          display: block;
          text-decoration: none;
          color: var(--ng-nav-item-txt);
          font-size: .8em;
          border-bottom: .1em solid var(--ng-nav-item-bg);
          width: 100%;
          background-color: var(--ng-nav-item-bg);

          &:hover {
            text-decoration: none;
            color: var(--ng-nav-item-hover-txt);
            border-bottom: .1em solid var(--ng-yellow);
            background-color: var(--ng-nav-item-hover-bg);
          }
        }

      }
    }
  }

  .burger-container {
    display: none;
  }
}