@forward '../partials/_variables';
@forward '../partials/_typography';

@use 'sass:math';
@use '../partials/_variables' as *;
@use '../partials/_typography' as *;

body {
  margin: 0;

  .business_directory {
    .container {
      display: none;
    }
  }

  #top {
    .grid_1200 {
      // NOTE: This is the top section of the page.
      // TODO: Find a way to overrride overflow: hidden; in the main theme stylesheet.
      overflow: visible;
    }

    &>section:nth-child(4) {
      // NOTE: Theme content .sections

      &>div {
        // NOTE: Theme content .container

        width: 100%;
        padding: 0;
        max-width: 3200px;
      }

    }

  }
}

// SECTION: Desktop/ Full Width Default Styles
.nelagala-event {

  & {
    font-family: map-get($font, primary);
    color: var(--ng-txt);
    background: var(--ng-bg);
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    width: 100%;
    flex-wrap: nowrap;
    position: relative;
    top: 116px;
    margin: 0 auto -204px auto;
  }

  aside h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: map-get($font, tertiary);
    font-weight: map-get($font-weight, primary);
    text-transform: capitalize;
    color: map-get($color, secondary);
  }

  $size: 2.8rem;

  @for $i from 1 through 6 {
    h#{$i} {
      font-size: $size - 0.5rem * ($i - 1);
    }
  }

  a {
    text-decoration: none;
    color: var(--ng-red);
    font-weight: 800;
    font-size: 1em;
    padding: 3px;
    transition: 0.2s ease-in;

    &:hover {
      text-decoration: none;
      color: rgb(213, 78, 86);
    }
  }

  button {
    border: none;
    background: inherit;
  }

  .row-container {
    gap: 50px;
    margin-bottom: 4em;

    &:hover img {
      mix-blend-mode: inherit;
      transition: all 0.3s ease-in;
    }

    &.reverse {
      flex-direction: row-reverse;
    }

  }

  #sponsorships .package {
    flex: 0 0 47%;
  }

  .packages {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;

    .package {
      flex: 0 0 31.333%;
      box-sizing: border-box;
      position: relative;
      background-color: var(--ng-offwhite);
      padding: 20px 20px 120px;
      border: 1px solid var(--ng-package-border);
      border-radius: 10px;
      margin-top: 10px;

      ul {
        list-style-type: none;
        /* Remove default list bullets */
        margin-left: 0;
        padding-left: 0;

        li {
          display: flex;
          align-items: flex-start;
          /* Align items to the start of the flex container */
          gap: 8px;
          /* Adjust gap as needed */
          margin: 16px 0;
          font-size: 16px;

          &::before {
            content: "\f00c";
            /* FontAwesome checkmark unicode */
            font-family: 'FontAwesome';
            /* FontAwesome 4.7 font-family */
            color: var(--ng-red);
            /* Additional styles for positioning and size */
            font-size: 16px;
            /* Adjust as needed */
            line-height: 1;
            /* Helps with aligning the icon with the top line of text */
            padding-top: 6px;
          }
        }
      }

      h2 {
        margin: 10px 0;
        font-weight: bold;
        font-size: 22px;
        text-transform: inherit;
        font-family: map-get($font, tertiary);
        color: var(--ng-txt);
      }

      p {
        font-size: 16px;
      }


      a {

        button {
          font-family: map-get($button, font);
          font-weight: map-get($button, weight);
          font-style: map-get($button, style);
          font-size: map-get($button, size);
          margin: map-get($button, margin);
          text-transform: map-get($button, transform);
          padding: 10px;
          border: 0.5px solid var(--ng-red);
          border-radius: 5px;
          position: absolute;
          bottom: 20px;
          width: calc(100% - 40px);
          cursor: pointer;
          transition: 0.3s;
          background-color: map-get($button, bg);
          color: map-get($button, color);

          &:hover {
            background-color: map-get($button, color);
            color: map-get($button, bg);
          }
        }
      }

    }
  }

  .map-container {
    $aspect-width: 32;
    $aspect-height: 9;
    $aspect-ratio: calc($aspect-height / $aspect-width) * 100%;

    position: relative;
    width: 100%;
    padding-top: $aspect-ratio;
    /* 16:9 Aspect Ratio */
    height: 0;
    /* This is important to prevent the actual height from affecting the element */
    overflow: hidden;
    /* Ensures no overflow from the padding hack */
    background-color: white;

    iframe,
    .map {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .sub-text {
      margin-bottom: 50px;
      font-size: 19px;
      color: #707070;
    }
  }

  // SECTION: Main Content
  main {
    background: var(--ng-section-bg);
    padding-bottom: 54px;
    flex-grow: 1;

    // SECTION: Header
    header {
      width: 100%;
      padding: 0px;
      margin-top: 0;
      background: var(--ng-header-bg);
      text-align: center;
      color: map-get(map-get($color, header), text);
      position: relative;
      top: 0;
      overflow: hidden;

      .header-img {
        position: absolute;
        top: -302px;
        right: -236px;
        width: 765px;
        transform: rotate(-13deg);
        opacity: 0.4;
      }

      .header-img-main {
        z-index: 1;
        /* Ensure the image stays behind the .row and h4 elements */
        position: relative;
        /* Adjust based on your layout needs */
        height: 189px;
        background-size: 110%;
        /* Start zoomed in */
        background-position: center 75%;
        transition: background-size 0.5s ease, background-position 0.5s ease;
        width: 100%;
        margin-top: -1.5em;

        img {
          transition: transform 0.5s ease, opacity 0.5s ease;
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center 75%;
        }
      }

      .col {
        min-width: 50%;
        padding: 20px 10px 30px;
      }

      .divider {
        &::before {
          content: "";
          position: absolute;
          right: 0;
          top: 20%;
          bottom: 15%;
          width: 4px;
          background-color: map-get(map-get($color, header), divider);
        }
      }

      h1 {
        &.title {
          display: inline;
          text-align: center;
          font-family: map-get($font, secondary);
          font-size: 1.8em;
          color: map-get(map-get($color, header), text);
          line-height: 0.9em;
          margin: -10px 0;
          text-transform: uppercase;
        }

        &:not(:has(span)) {
          font-size: 0.8em;
        }
      }

      h2 {
        font-family: map-get($header-h2, font);
        font-weight: map-get($header-h2, weight);
        font-size: map-get($header-h2, size);
        font-style: map-get($header-h2, style);
        color: map-get($header-h2, color);
        letter-spacing: map-get($header-h2, letter-spacing);
        text-transform: map-get($header-h2, transform);
        margin: map-get($header-h2, margin);
        padding: map-get($header-h2, padding);
        position: map-get($header-h2, position);
        z-index: map-get($header-h2, z-index);
      }

      h3 {
        font-family: map-get($header-h3, font);
        font-weight: map-get($header-h3, weight);
        font-style: map-get($header-h3, style);
        color: map-get($header-h3, color);
        font-size: map-get($header-h3, size);
        line-height: map-get($header-h3, line-height);
        margin: map-get($header-h3, margin);
        text-transform: map-get($header-h3, transform);

        & sup {
          font-size: 2em;
          top: .2em;
        }
      }

      h4 {
        // Date and time details ("the header's footer")
        /* Typography */
        font-family: map-get($header-h4, font);
        font-size: map-get($header-h4, size);
        font-style: map-get($header-h4, style);
        font-weight: map-get($header-h4, weight);
        line-height: map-get($header-h4, line-height);
        text-transform: map-get($header-h4, transform);

        /* Layout */
        margin: map-get($header-h4, margin);
        padding: map-get($header-h4, padding);

        /* Palate */
        background-color: map-get($header-h4, bg);
        color: map-get($header-h4, color);

        span {

          font-weight: map-get($header-h4-span, weight);
          display: inline-block;
          max-width: calc(50% - 0.5em);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          &:last-child::before {
            content: " / ";
            display: inline-block;
            margin: 0 0.2em;
            /* Adjust spacing as needed */
          }
        }
      }

      .pre-title,
      .post-title {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--ng-red);
        font-family: map-get($font, script);
        text-align: center;
        font-size: 2.4em;
        margin: 0;
        line-height: 58px;

        .yr {
          font-size: 1.7em;

          sup {
            font-size: 0.7em;
            margin-left: 0.3em;
          }
        }
      }

      .post-title {
        font-size: 5em;
        position: relative;
        top: 0em;
        display: block;
        z-index: 10000 !important;
      }

      .col-2 {
        text-align: start;
        padding-left: 20px;

        .col-2-title {
          font-family: map-get($font, tertiary);
          font-weight: map-get($font-weight, semibold);
          color: map-get(map-get($color, header), text);
          text-transform: uppercase;
          font-size: 1.25em;
          font-style: normal;
          margin: 0;
          line-height: 1.1em;
        }

        .text {
          font-family: map-get($header-h3, font);
          font-weight: map-get($header-h3, weight);
          font-style: map-get($header-h3, style);
          color: map-get($header-h3, color);
          font-size: map-get($header-h3, size);
          line-height: map-get($header-h3, line-height);
          margin: map-get($header-h3, margin);
          text-transform: map-get($header-h3, transform);
        }
      }


      .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        max-width: 960px;
        margin: 0px auto 0 auto;
        position: relative;
      }

      .column {
        flex: 1;
        padding: 10px;

        h3 {
          font-family: map-get($font, primary);
          font-size: 2em;
          font-style: italic;

          a {
            font-weight: 800;
            padding-right: 20px;
            border-right: 1px solid var(--ng-header-txt);
            margin-right: 20px;
          }
        }
      }

      a {
        text-decoration: none;
        color: map-get(map-get($color, header), text);
        font-weight: 500;
        font-size: 1em;
        padding: 3px;
        border-bottom: 1px solid var(--ng-header-bg);

        &:hover {
          text-decoration: none;
          color: var(--ng-red);
          font-weight: 500;
          font-size: 1em;
          padding: 3px;
          border-bottom: 1 // Continuing from previous...
            px solid var(--ng-header-txt);
        }
      }

      p {
        font-size: 2.7em;
      }
    }

    // !SECTION: Header

    section {
      margin-bottom: 0;
      width: 80%;
      padding: 20px;
      margin: 0 auto;
      max-width: 1100px;
    }

    &>section {
      margin-bottom: 1em;
      padding: 1em;

      &>h2,
      article h2 {
        font-family: map-get($section-h2, font);
        font-weight: map-get($section-h2, weight);
        font-size: map-get($section-h2, size);
        color: map-get($section-h2, color);
        margin: 20px 0 10px -15px;
      }

      article h2 {

        font-size: 2em;
      }

      // NOTE: Styles for Repeating rows of participants
      &.participants {
        width: 80%;
        max-width: 920px;
        margin: 0 auto;

        .participant-website,
        .read-more {
          padding-top: .4em;

          a {
            font-family: map-get($read-more, font);
            font-weight: map-get($read-more, weight);
            font-style: map-get($read-more, style);
            color: map-get($read-more, color);
            font-size: map-get($read-more, size);
            margin: map-get($read-more, margin);
            text-transform: map-get($read-more, transform);
            text-align: map-get($read-more, text-align);
            line-height: map-get($read-more, line-height);
          }
        }
      }

      &>div {
        display: flex;
        align-items: flex-start;
        margin-bottom: 0px;


        a.biography-link {
          width: 45%;
          /* Assign width to the anchor to maintain the layout */
          display: inline-block;
          /* Ensure the anchor behaves as a block element with line dimensions */
          aspect-ratio: 3 / 4;
          max-height: 400px;

          img {
            width: 100%;
            /* Make the image fill the anchor */
            height: auto;
            /* Maintain aspect ratio */
            object-fit: cover;
            mix-blend-mode: luminosity;
            object-position: center 14%;
          }

        }
      }

      &>.packages {
        align-items: inherit;
      }
    }

    &>.video {
      aspect-ratio: 16/9;
      width: 100%;
    }

    .row-container {
      display: flex;
      align-items: flex-start;
      margin: 1.5em auto;

      a.biography-link,
      img {
        display: inline-block;
        /* Ensures block-level behaviors */
        width: 45%;
        /* Adjust width as necessary */
        max-height: 400px;
      }

      img {
        width: 100%;
        /* Ensures the img tag fills its container (either <a> or its direct parent) */
        aspect-ratio: 3 / 4;
        object-fit: cover;
        mix-blend-mode: luminosity;
        object-position: center 14%;
      }
    }


    #about-the-event {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      max-width: 1000px;

      p {
        font-size: 18px;
        margin-bottom: 20px;
      }

      .last {
        margin-bottom: 50px;
      }

      article {
        width: 64%;

        &.full-width {
          width: 100%;
        }
      }

      aside {
        display: block;
        outline: .01em solid map-get(map-get($color, aside), border);
        background-color: map-get(map-get($color, aside), bg);
        border-radius: 20px 20px 0 0;
        width: 36%;
        margin: 0 -3em 0 20px;
        overflow: hidden;
        padding: 20px;
        box-sizing: border-box;

        >img {
          display: block;
          width: calc(100% + 40px);
          max-width: none;
          margin: -20px -20px 20px -20px;
          height: auto;
        }

        h2 {
          font-size: 1.24em;
          line-height: 1.45em;
          margin-bottom: 20px;
          font-family: map-get($font, secondary);
          font-weight: map-get($font-weight, bold);
          font-style: italic;
          width: 80%;
          color: map-get($color, quinary);
        }
      }

      @media (max-width: 767px) {
        flex-direction: column;

        article {
          width: 100%;
        }

        aside {
          width: 100%;
          margin: 0;
        }
      }
    }

    #event-roles h3,
    #honorees h3 {
      font-family: map-get($participant-h3, font);
      font-weight: map-get($participant-h3, weight);
      font-style: map-get($participant-h3, style);
      color: map-get($participant-h3, color);
      font-size: map-get($participant-h3, size);
      line-height: map-get($participant-h3, line-height);
      margin: map-get($participant-h3, margin);
      text-transform: map-get($participant-h3, transform);
      text-align: map-get($participant-h3, text-align);
    }

    // Styles for section.participants
    >section.participants {
      >div>div {
        width: 50%;
        text-align: left;

        .full-name {
          font-family: map-get($participant-name, font);
          font-weight: map-get($participant-name, weight);
          font-style: map-get($participant-name, style);
          color: map-get($participant-name, color);
          font-size: map-get($participant-name, size);
          line-height: map-get($participant-name, line-height);
          margin: map-get($participant-name, margin);
          text-transform: map-get($participant-name, transform);
        }

        .bio-summary {
          font-size: 18px;
          color: #707070;
        }

        .personal-title {
          font-family: map-get($font, tertiary);
          font-weight: map-get($font-weight, semibold);
          font-size: 18px;
          margin: .2em 0 .8em 0;
        }
      }
    }

    // SECTION: Biography Page Content
    >#Biography {
      width: 100%;

      >.row-container {
        //outline: 1px solid var(--ng-red);
        align-items: center;
        justify-content: center;
        width: 100%;

        img {
          mix-blend-mode: inherit;
        }
      }

      >div>div {
        width: 58%;
        text-align: right;
      }

      >article {
        font-size: 1.2em;
        margin: 2em auto;
        width: 74%;
        font-weight: normal;

        p {
          line-height: normal;
          margin-bottom: .8em;

          &:first-child {
            font-size: 1.225em;
            margin-bottom: 1em;
            line-height: 1.5em;
          }
        }
      }
    }

    // !SECTION: Styles specific to #Biography
  }

  // !SECTION: Main Content
}

// !SECTION: Desktop/ Full Width Default Styles
// SECTION: Media Queries
@media (max-width: map-get($viewport, xl)) {

  // NOTE: 1200px and smaller screens. 
  // This breakpoint exists to reset breakpoints and styles from the main theme stylesheet.
  .nelagala-event {
    top: -60px;
    margin: 0 auto -280px auto;

    .nav.event-navigation {
      top: 0em !important;
    }
  }
}

@media (max-width: map-get($viewport, lg)) {

  // NOTE: 992px and smaller screens 
  // Essentially tablets in landscape mode and smaller desktop screens.
  .nelagala-event {
    top: -40px;
    font-family: map-get($font, secondary);
    color: var(--ng-txt);
    background: var(--ng-bg);
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    width: 100%;
    flex-wrap: wrap;
    margin: 0px auto -180px auto;

    .map-container {
      $aspect-width: 4;
      $aspect-height: 5;
      $aspect-ratio: calc($aspect-height / $aspect-width) * 100%;
      padding-top: $aspect-ratio;
    }

    main {
      header {
        border-bottom: .25em solid var(--ng-red);

        h1 {
          width: 90%;
          font-size: 1.6em;
          padding: 0;

          .yr {
            font-size: 1.4em;

            sup {
              font-size: 0.8em;
            }
          }

          &.title {
            font-size: 1.68em;
            line-height: 0.7em;
          }

          .gala {
            font-size: 2.5em;
            position: relative;
            top: -0.8em;
            display: block;
          }

          &:not(:has(span)) {
            font-size: 0.8em;
          }
        }

        h2 {
          display: none;
        }

        .row {
          flex-wrap: wrap;

          .col,
          .col-2 {
            min-width: 100%;
            text-align: center; // Applies to both .col and .col-2 for simplicity.
          }

          .divider {
            border-right: none;
            border-bottom: 6px solid var(--ng-red);

            &::before {
              display: none;
            }
          }
        }
      }

      >section {
        width: 95%;

        &.participants {
          width: 100%;

          >div {
            >div {
              width: 100%;
            }
          }
        }

      }

      #about-the-event {
        max-width: 100%;

        article {
          width: 58%;
        }

        aside {
          width: 40%;
          margin: 0;
        }
      }

      .container {
        max-width: fit-content;
      }

      .row-container,
      .packages {
        justify-content: center;
        flex-wrap: wrap;
        flex: 0 0 48%;

        .package {
          flex: 0 0 95%;
        }
      }

      #Biography {
        article {
          width: 95%;
        }

        .row-container {
          flex-direction: row-reverse;
          flex-wrap: nowrap;
          align-items: center;
          justify-content: center;
        }
      }

    }

    #sponsorships .package {
      flex: 0 0 95%;
    }
  }
}

@media screen and (max-width: map-get($viewport, md)) {
  // NOTE: Targets viewport widths up to and including 768px.
  // Small tablets and large smartphones, especially in landscape orientation. It's a common breakpoint for supporting devices like iPads when held in portrait mode, as well as various other tablets and phablets.

  .nelagala-event {

    main {

      #Biography {
        >div>div {
          width: 90%;
          text-align: left;
        }

        .row-container {
          flex-direction: column;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;

          img {
            width: 100%;
            height: auto;
            aspect-ratio: 1/1;
            max-height: 100%;
          }
        }
      }

      .row-container {
        a.biography-link {
          width: 100%;
          /* Assign width to the anchor to maintain the layout */
          display: inline-block;
          /* Ensure the anchor behaves as a block element with line dimensions */
          aspect-ratio: 3 / 4;
          max-height: 400px;

          img {
            width: 100%;
            /* Make the image fill the anchor */
            height: auto;
            /* Maintain aspect ratio */
            object-fit: cover;
            mix-blend-mode: luminosity;
            object-position: center 14%;
          }
        }
      }

      header {

        .header-img {
          position: absolute;
          top: -60px;
          right: -123px;
          /* width: 1768px; */
          transform: rotate(-13deg);
          opacity: .4;
        }
      }

      >section {
        >h2 {
          margin: 20px 0 10px -10px;
        }

        &.participants>div {
          div {
            width: 100%;
          }

          img {
            width: 100%;
            margin: 0;
          }

          flex-direction: column;
          align-items: flex-start;
        }

      }

      #about-the-event {
        flex-direction: column;

        article,
        aside {
          width: 100%;
          margin: 0;
        }
      }
    }

    .packages .package {
      padding: 20px 20px 80px;

      &,
      #sponsorships .packages .package {
        flex: 0 0 100%;
      }
    }
  }

}

@media screen and (max-width: map-get($viewport, sm)) {
  .nelagala-event {
    main {
      header {
        h4 {
          span {
            display: block;
            width: 100%;
            max-width: 90%;

            &:last-child::before {
              display: none;
            }

            &:last-child {
              font-size: 0.9em;
              /* Adjust the font size as needed */
            }
          }
        }
      }
    }
  }

}

// !SECTION: Media Queries