@forward '../partials/_variables';
@forward '../partials/_typography';

@use 'sass:math';
@use '../partials/_variables' as *;
@use '../partials/_typography' as *;


body {
  margin: 0;

  * {
    overflow: default;
  }

  .business_directory {
    .container {
      display: none;
    }
  }

  #top {
    .grid_1200 {
      overflow: default;
    }

    &>section:nth-child(4) {
      // NOTE: Theme content .sections

      &>div {
        // NOTE: Theme content .container
        width: 100%;
        padding: 0;
        max-width: 3200px;
      }

    }

  }
}

.nelagala-event {

  & {
    font-family: map-get($font, primary);
    color: var(--ng-txt);
    background: var(--ng-bg);
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    width: 100%;
    flex-wrap: nowrap;
    position: relative;
    top: 116px;
    margin: 0 auto -204px auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: map-get($font, tertiary);
    font-weight: map-get($font-weight, primary);
    text-transform: capitalize;
    color: map-get($color, secondary);
  }

  $size: 2.8rem;

  @for $i from 1 through 6 {
    h#{$i} {
      font-size: $size - 0.5rem * ($i - 1);
    }
  }

  a {
    text-decoration: none;
    color: var(--ng-red);
    font-weight: 800;
    font-size: 1em;
    padding: 3px;
    transition: 0.2s ease-in;

    &:hover {
      text-decoration: none;
      color: rgb(213, 78, 86);
    }
  }

  button {
    border: none;
    background: inherit;
  }

  header {
    width: 100%;
    padding: 0px;
    margin-top: 0;
    background: var(--ng-header-bg);
    text-align: center;
    color: map-get(map-get($color, header), text);
    position: relative;
    top: 0;
    overflow: hidden;
    font-family: map-get($font, primary);

    .header-img {
      position: absolute;
      top: -302px;
      right: -236px;
      width: 765px;
      transform: rotate(-13deg);
      opacity: 0.4;
    }

    .header-img-main {
      height: 189px;
      margin-top: -39px;

      img {
        transition: transform 0.5s ease, opacity 0.5s ease;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center 75%;
      }
    }


    .col {
      min-width: 50%;
      padding: 20px 10px 30px;
    }

    .divider {
      &::before {
        content: "";
        position: absolute;
        right: 0;
        /* For a left border; use 'right: 0' for a right border */
        top: 20%;
        /* Adjusts the gap at the top */
        bottom: 15%;
        /* Adjusts the gap at the bottom */
        width: 4px;
        /* Border width */
        background-color: map-get(map-get($color, header), divider);
        /* Border color */
      }
    }

    h1 {

      &.title {
        display: inline;
        text-align: center;
        font-family: map-get($font, secondary);
        font-size: 1.8em;
        color: map-get(map-get($color, header), text);
        line-height: 0.9em;
        margin: -10px 0;
        text-transform: uppercase;
      }

      &:not(:has(span)) {
        font-size: 0.8em;
      }

    }

    h2 {
      font-family: map-get($header-h2, font);
      font-weight: map-get($header-h2, weight);
      font-size: map-get($header-h2, size);
      font-style: map-get($header-h2, style);
      color: map-get($header-h2, color);
      letter-spacing: map-get($header-h2, letter-spacing);
      text-transform: map-get($header-h2, transform);
      margin: map-get($header-h2, margin);
      padding: map-get($header-h2, padding);
      position: map-get($header-h2, position);
      z-index: map-get($header-h2, z-index);
    }

    h3 {
      font-family: map-get($header-h3, font);
      font-weight: map-get($header-h3, weight);
      font-style: map-get($header-h3, style);
      color: map-get($header-h3, color);
      font-size: map-get($header-h3, size);
      line-height: map-get($header-h3, line-height);
      margin: map-get($header-h3, margin);
      text-transform: map-get($header-h3, transform);

      & sup {
        font-size: 2em;
        top: .2em;
      }
    }

    .pre-title,
    .post-title {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--ng-red);
      font-family: map-get($font, script);
      text-align: center;
      font-size: 2.4em;
      margin: 0;
      line-height: 58px;

      .yr {
        font-size: 1.7em;

        sup {
          font-size: 0.7em;
          margin-left: 0.3em;
        }

      }
    }

    .post-title {
      font-size: 5em;
      position: relative;
      top: 0em;
      display: block;
    }

    .col-2 {
      text-align: start;
      padding-left: 20px;

      .col-2-title {
        font-family: map-get($font, tertiary);
        font-weight: map-get($font-weight, semibold);
        color: map-get(map-get($color, header), text);
        text-transform: uppercase;
        font-size: 1.25em;
        font-style: normal;
        margin: 0;
        line-height: 1.1em;

      }

      .text {
        font-family: map-get($header-h3, font);
        font-weight: map-get($header-h3, weight);
        font-style: map-get($header-h3, style);
        color: map-get($header-h3, color);
        font-size: map-get($header-h3, size);
        line-height: map-get($header-h3, line-height);
        margin: map-get($header-h3, margin);
        text-transform: map-get($header-h3, transform);
      }
    }

    h4 {
      font-family: map-get($header-h4, font);
      font-weight: map-get($header-h4, weight);
      font-style: map-get($header-h4, style);
      color: map-get($header-h4, color);
      font-size: map-get($header-h4, size);
      line-height: map-get($header-h4, line-height);
      margin: map-get($header-h4, margin);
      text-transform: map-get($header-h4, transform);
      background-color: map-get($header-h4, bg);
      padding: map-get($header-h4, padding);
      z-index: 10000 !important;
    }

    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      max-width: 960px;
      margin: -40px auto -15px auto;
      position: relative;
    }
    .row, .title-wrap, .post-title, h4 {
      position: relative; /* Required for z-index to work */
      z-index: 10; /* Ensures they stay in front of the image */
    }
    
    .header-img-main {
      z-index: 1; /* Ensure the image stays behind the .row and h4 elements */
      position: relative; /* Adjust based on your layout needs */
        height: 189px;
        background-size: 110%; /* Start zoomed in */
        background-position: center 75%;
        transition: background-size 0.5s ease, background-position 0.5s ease;
        width: 100%;
      }
      
    
    .column {
      flex: 1;
      padding: 10px;

      h3 {
        font-family: map-get($font, primary);
        font-size: 2em;
        font-style: italic;

        a {
          font-weight: 800;
          padding-right: 20px;
          border-right: 1px solid var(--ng-header-txt);
          margin-right: 20px;
        }
      }
    }

    a {
      text-decoration: none;
      color: map-get(map-get($color, header), text);
      font-weight: 500;
      font-size: 1em;
      padding: 3px;
      border-bottom: 1 px solid var(--ng-header-bg);

      &:hover {
        text-decoration: none;
        color: var(--ng-red);
        font-weight: 500;
        font-size: 1em;
        padding: 3px;
        border-bottom: 1px solid var(--ng-header-txt);
      }
    }


    p {
      font-size: 2.7em;
    }
  }

  main {
    background: var(--ng-section-bg);
    padding-bottom: 54px;
    flex-grow: 1;

    section {
      margin-bottom: 0;
      width: 80%;
      padding: 20px;
      margin: 0 auto;


    }

    &>section {
      margin-bottom: 1em;
      padding: 1em;

      &>h2 {
        line-height: 3.4em;
      }

      &.participants {
        width: 80%;
        max-width: 920px;
        margin: 0 auto;

        .participant-website,
        .read-more {
          padding-top: 2em;

          a {
            font-family: map-get($read-more, font);
            font-weight: map-get($read-more, weight);
            font-style: map-get($read-more, style);
            color: map-get($read-more, color);
            font-size: map-get($read-more, size);
            margin: map-get($read-more, margin);
            text-transform: map-get($read-more, transform);
            line-height: map-get($read-more, line-height);

          }
        }
      }

      &>div {
        display: flex;
        align-items: flex-start;
        margin-bottom: 0px;

        img {
          width: 45%;
          aspect-ratio: 3/4;
          object-fit: cover;
          max-height: 400px;
          mix-blend-mode: luminosity;
          object-position: center 14%;
        }
      }

      &>.packages {
        align-items: inherit;
      }
    }

    &>.video {
      aspect-ratio: 16/9;
      width: 100%;
    }

    #about-the-event {
      .last {
        margin-bottom: 50px;
      }

      p {
        font-size: 18px;
        margin-bottom: 20px;
      }
    }

    #event-roles h3,
    #honorees h3 {
      font-family: map-get($participant-h3, font);
      font-weight: map-get($participant-h3, weight);
      font-style: map-get($participant-h3, style);
      color: map-get($participant-h3, color);
      font-size: map-get($participant-h3, size);
      line-height: map-get($participant-h3, line-height);
      margin: map-get($participant-h3, margin);
      text-transform: map-get($participant-h3, transform);
      text-align: map-get($participant-h3, text-align);
    }

  }

  .row-container {
    gap: 50px;
    margin-bottom: 4em;

    &:hover img {
      mix-blend-mode: inherit;
      transition: all 0.3s ease-in;
    }

    &.reverse {
      flex-direction: row-reverse;
    }

  }


  #sponsorships .package {
    flex: 0 0 47%;
  }


  main>section.participants>div>div {
    width: 50%;
    text-align: left;
  }


  main>section.participants>div>div>.full-name {
    font-family: map-get($participant-name, font);
    font-weight: map-get($participant-name, weight);
    font-style: map-get($participant-name, style);
    color: map-get($participant-name, color);
    font-size: map-get($participant-name, size);
    line-height: map-get($participant-name, line-height);
    margin: map-get($participant-name, margin);
    text-transform: map-get($participant-name, transform);
  }

  main>section.participants>div>div>.bio-summary {
    font-size: 18px;
    color: #707070;

  }

  main>section.participants>div>div>.personal-title {

    font-family: map-get($font, tertiary);
    font-weight: map-get($font-weight, semibold);
    font-size: 18px;
    margin: .2em 0 .8em 0;

  }

  main>#Biography>div {
    align-items: center;
    justify-content: center;
  }

  main>#Biography>div>div {
    width: 58%;
    text-align: right;
  }

  main>#Biography>article {
    font-size: 1.2em;
    margin: 2em auto;
    width: 74%;
    font-weight: normal;

    p {

      line-height: normal;
      margin-bottom: .8em;

      &:first-child {
        font-size: 1.225em;
        margin-bottom: 1em;
        line-height: 1.5em;
      }
    }
  }

  #about-the-event {
    display: flex;
    flex-direction: column;
  
    @media (min-width: 768px) { /* Adjust this value based on your breakpoint for larger screens */
      flex-direction: row;
      justify-content: space-between;
      
      article {
        width: 70%;
      }
  
      aside {
     
        width: 30%;
        border: 1px solid #ccc; /* Customize the border as needed */
        padding: 20px; /* Adjust padding as needed */
        box-sizing: border-box; /* Ensures padding is included in the width */
        margin: 0 0 0 20px; /* Adjust margin as needed */
         h2 {
          font-size: 22px;
          margin-bottom: 20px;
         }
      }
    }
  
    .has-nv-dark-bg-color.has-text-color {
      font-size: 18px;
      margin-bottom: 20px;
    }
  }
  .packages {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;

    .package {
      flex: 0 0 31.333%;
      box-sizing: border-box;
      position: relative;
      background-color: var(--ng-offwhite);
      padding: 20px 20px 120px;
      border: 1px solid var(--ng-package-border);
      border-radius: 10px;
      margin-top: 10px;

      ul {
        list-style-type: none;
        /* Remove default list bullets */
        margin-left: 0;
        padding-left: 0;

        li {
          display: flex;
          align-items: flex-start;
          /* Align items to the start of the flex container */
          gap: 8px;
          /* Adjust gap as needed */
          margin: 16px 0;
          font-size: 16px;

          &::before {
            content: "\f00c";
            /* FontAwesome checkmark unicode */
            font-family: 'FontAwesome';
            /* FontAwesome 4.7 font-family */
            color: var(--ng-red);
            /* Additional styles for positioning and size */
            font-size: 16px;
            /* Adjust as needed */
            line-height: 1;
            /* Helps with aligning the icon with the top line of text */
            padding-top: 6px;
          }
        }
      }

      h2 {
        margin: 10px 0;
        font-weight: bold;
        font-size: 22px;
        text-transform: inherit;
        font-family: map-get($font, tertiary);
        color: var(--ng-txt);
      }

      p {
        font-size: 16px;
      }


      a {

        button {
          font-family: map-get($button, font);
          font-weight: map-get($button, weight);
          font-style: map-get($button, style);
          font-size: map-get($button, size);
          margin: map-get($button, margin);
          text-transform: map-get($button, transform);
          padding: 10px;
          border: 0.5px solid var(--ng-red);
          border-radius: 5px;
          position: absolute;
          bottom: 20px;
          width: calc(100% - 40px);
          cursor: pointer;
          transition: 0.3s;
          background-color: map-get($button, bg);
          color: map-get($button, color);

          &:hover {
            background-color: map-get($button, color);
            color: map-get($button, bg);
          }
        }
      }

    }
  }

  .map-container {
    $aspect-width: 32;
    $aspect-height: 9;
    $aspect-ratio: calc($aspect-height / $aspect-width) * 100%;

    position: relative;
    width: 100%;
    padding-top: $aspect-ratio;
    /* 16:9 Aspect Ratio */
    height: 0;
    /* This is important to prevent the actual height from affecting the element */
    overflow: hidden;
    /* Ensures no overflow from the padding hack */
    background-color: white;

    iframe,
    .map {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .sub-text {
      margin-bottom: 50px;
      font-size: 19px;
      color: #707070;
    }
  }


  @media (max-width: var(--ng-media-xl)) {

    // NOTE: 1200px and smaller screens. 
    // This breakpoint exists to reset breakpoints and styles from the main theme stylesheet.
    & {
      top: -60px;
    }
  }

  @media (max-width: var(--ng-media-lg)) {

    // NOTE: 992px and smaller screens 
    // Essentially tablets in landscape mode and smaller desktop screens.
    .container {
      max-width: fit-content;
    }

    & {
      font-family: map-get($font, secondary);
      color: var(--ng-txt);
      background: var(--ng-bg);
      display: flex;
      justify-content: space-between;
      min-height: 100vh;
      width: 100%;
      flex-wrap: wrap;
      margin: 0px auto 0 auto;
    }

    header {
      border-bottom: .25em solid var(--ng-red);
    }

    header h1 {
      width: 90%;
      font-size: 2em;
      padding: 0;
    }

    header .row {
      flex-wrap: wrap;
    }

    header .col {
      min-width: 100%;
    }

    header .col-2 {
      text-align: center;
    }

    header .divider {
      &::before {
        display: none;
      }
    }

    header h1 .yr {
      font-size: 1.4em;
    }

    header h1 .yr sup {
      font-size: 0.8em;
    }

    header h1 .title {
      display: block;
      font-family: map-get($font, primary);
      font-size: 1.3em;
      color: var(--ng-header-title-txt);
      line-height: 0.9em;
      margin: 0px 0;
      text-transform: uppercase;
    }

    header h1 .gala {
      font-size: 2.5em;
      position: relative;
      top: -0.8em;
      display: block;
    }

    header h1:not(:has(span)) {
      font-size: 0.8em;
    }


    .header-img-main {
      height: 179px;
    }

    .col-2 {
      display: none;
    }

    .row-container,
    .packages {
      justify-content: center;
      flex-wrap: wrap;
      flex: 0 0 48%;
    }

    .package {
      flex: 0 0 48%;
    }

  }

  @media screen and (max-width: $breakpoint-md) {

    // NOTE: 768px and smaller screens.
    // Small tablets and large smartphones, especially in landscape orientation. It's a common breakpoint for supporting devices like iPads when held in portrait mode, as well as various other tablets and phablets.

    main>section.participants>div {
      flex-direction: column;
      align-items: flex-start;
    }

    main>section.participants>div img {
      width: 100%;
      margin: 0;
    }

    main>section.participants>div>div {
      width: 100%;
    }

    .packages .package,
    #sponsorshipss .packages .package {
      flex: 0 0 100%;
    }
  }



  /*# sourceMappingURL=styles.css.map */

}