
@use '../partials/_variables' as *;

// Fonts
$font: (
  primary: (minion-pro-condensed-subhead, serif),    // Body text
  secondary: (minion-pro-condensed, serif),         // Header Title and H1 - 6
  tertiary: (barlow, sans-serif),                  // Venue, and Menu font
  script: (snell-roundhand, cursive),             // Gala Script
);

// Font Weights
$font-weight: (
  primary: 400,
  medium: 500,
  semibold: 600,
  bold: 700,
);

@font-face {
  font-family: snell-roundhand;
  src: url('../typography/Snell_Roundhand/ttf/SnellRoundhand.ttf') format('truetype'),
    url('../typography/Snell_Roundhand/web_fonts/SnellRoundhand.woff2') format('woff2'),
    url('../typography/Snell_Roundhand/web_fonts/SnellRoundhand.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
$nav: (
  font: map-get($font, tertiary),
  weight: map-get($font-weight, primary),
);

$nav-a: (
  font-family: map-get($font, tertiary),
  font-weight: map-get($font-weight, primary),
  color: map-get(map-get($color, nav), item-txt),
  font-size: .9em,
);

$header-h2: ( // SAVE THE DATE
  font: map-get($font, primary),
  weight: map-get($font-weight, semibold),
  color: map-get(map-get($color, header), text),
  style: italic,
  size: 3em,
  letter-spacing: .2em,
  margin: (6px, auto, 0, auto),
  padding: 0,
  transform: uppercase,
  position: relative,
  z-index: 1,
);

$header-h3: ( // Sons of Italy Foundation presents
  font: map-get($font, primary),
  weight: map-get($font-weight, primary),
  color: map-get(map-get($color, header), text),
  style: italic,
  size: 1.1em,
  margin: (0, auto, 10px, auto),
  transform: unset,
  line-height: 1.125em
);

$header-h4: ( // Thursday, May 23, 2024
  font: map-get($font, primary),
  weight: map-get($font-weight, semibold),
  color: map-get(map-get($color, header), text),
  style: italic,
  size: 1.3em,
  margin: 0,
  transform: unset,
  line-height: 1.125em,
  padding: 10px 0,
  bg: map-get(map-get($color, header), bg),
);

$section-h2: ( // Section Titles
  font: map-get($font, tertiary),
  weight: map-get($font-weight, semibold),
  color: map-get($color, secondary),
  style: italic,
  size: 1.4em, // Was 32px
  margin: 0,
  transform: unset,
  line-height: 1.125em,
  text-align: start
);

$participant-h3: ( // Role or Honor Title
  font: map-get($font, secondary),
  weight: map-get($font-weight, primary),
  color: map-get($color, primary),
  style: italic,
  size: 1.24em, // Was 16px
  margin: 0,
  transform: unset,
  line-height: 1.125em,
  text-align: start
);

$participant-name: ( // p.full-name
  font: map-get($font, tertiary),
  weight: map-get($font-weight, semibold),
  color: map-get($color, secondary),
  style: normal,
  size: 2em, // Was 16px
  margin: (.2em 0 0 0),
  transform: unset,
  line-height: 1.2em
);

$read-more: ( // Read More link in Bio blocks
  font: map-get($font, tertiary),
  weight: map-get($font-weight, medium),
  color: map-get($color, secondary),
  style: normal,
  size: 1.4em, // Was 16px
  margin: (2em 0 0 0),
  transform: unset,
  line-height: 1.2em
);

$button: ( // Generic button
  font: map-get($font, tertiary),
  weight: map-get($font-weight, medium),
  color: map-get($color, secondary),
  bg: map-get($color, quaternary),
  style: normal,
  size: 1em, // Was 16px
  transform: uppercase,
);