@font-face {
  font-family: snell-roundhand;
  src: url('../typography/Snell_Roundhand/ttf/SnellRoundhand.ttf') format('ttf'),
    url('../typography/Snell_Roundhand/web_fonts/SnellRoundhand.woff2') format('woff2'),
    url('../typography/Snell_Roundhand/web_fonts/SnellRoundhand.woff') format('woff');
  font-weight: 400;
  font-style: cursive;
}