$ng-steel-blue: rgb(40, 75, 103);
$ng-red: #d1232f;
$osdia-red: #D31A35;
$ng-yellow: rgb(240, 189, 51);
$ng-not-black: rgb(51, 51, 51);
$ng-not-white: rgb(249, 249, 249);
$ng-aside: rgba(235, 232, 228, 0.993);
$ng-headliine: rgba(139, 139, 139, 0.144);

// Navigation Sidebar Colors
$ng-nav-bg: $osdia-red;

// Calculate contrasting color and variations using Sass functions
// $ng-nav-item-txt: darken($ng-yellow, 12%); // Darken the yellow color by 12%
$ng-nav-item-txt: darken($ng-not-white, 6%); 
$ng-nav-item-bg: lighten($ng-nav-bg, 12%);
$ng-nav-item-hover-bg: darken($ng-nav-bg, 46%);
$ng-nav-item-hover-txt: lighten($ng-nav-item-txt, 20%);

$ng-header-text: #ffffff;

$color: (
    primary: $ng-not-black,
    secondary: $ng-red,
    tertiary: $ng-yellow,
    quaternary: $ng-not-white,
    quinary: $ng-steel-blue,

    nav: (
        bg: $ng-nav-bg,
        item-txt: $ng-nav-item-txt,
        item-bg: $ng-nav-item-bg,
        item-hover-bg: $ng-nav-item-hover-bg,
        item-hover-txt: $ng-nav-item-hover-txt
    ),

    header: (
        text: $ng-header-text,
        bg: $ng-yellow,
        txt: $ng-not-white,
        txt-a: $ng-not-white,
        title-txt: rgb(243, 243, 243),
        divider: $ng-red,
        headline: $ng-headliine,
    ),

    package: (
        border: rgb(236, 233, 233)
    ),

    aside: (
        bg: $ng-aside,
        border: $ng-not-black
    )
);


// Media Query Breakpoints
$viewport: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    max: 1400px
);

:root {
    --ng-media-sm: map-get($viewport, sm);
    --ng-media-md: map-get($viewport, md);
    --ng-media-lg: map-get($viewport, lg);
    --ng-media-xl: map-get($viewport, xl);
    --ng-media-max: map-get($viewport, max);

    --ng-black: #{$ng-not-black};
    --ng-white: #{$ng-not-white};
    --ng-red: #{$ng-red};
    --ng-yellow: #{$ng-yellow};

    --ng-txt: rgb(51, 51, 51);
    --ng-bg: rgb(255, 255, 255);

    --ng-header-bg: #{$ng-yellow};
    --ng-header-txt: rgb(255, 255, 255);
    --ng-header-txt-a: rgb(249, 249, 249);
    --ng-header-title-txt: rgb(171, 171, 171);

    // Assign pre-calculated Sass variable values to CSS custom properties
    --ng-nav-bg: #{$ng-nav-bg};
    --ng-nav-item-txt: #{$ng-nav-item-txt};
    --ng-nav-item-bg: #{rgba($ng-nav-item-bg, 0.4)};
    --ng-nav-item-hover-bg: #{rgba($ng-nav-item-bg, 0.9)};
    --ng-nav-item-hover-txt: #{$ng-nav-item-hover-txt};

    --ng-section-bg: #f9f9f9;
    --ng-package-border: rgb(236, 233, 233); // Slightly darker than --ng-section-bg

    --cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99);
    --menuItems: 7;

}